* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.board {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.column {
  width: 18%;
}

.card {
  background-color: #f2f2f2;
  padding: 1rem;
  width: 98%;
  height: 15rem;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
