* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.board {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.column {
  width: 18%;
}

.column-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.column .titleBox {
  display: flex;
  width: 50%;
}

.column .titleBox .title {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.column .ctaBox {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.card {
  background-color: #fff;
  padding: 1rem;
  width: 98%;
  height: 15rem;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.toolBar {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
}
